body {
    margin: 0;
}

.sliderContainer {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.slidesContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Центрируем изображение по горизонтали */
    align-items: center;
    /* Центрируем изображение по вертикали */
}

img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.arrowPrev,
.arrowNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.arrowPrev {
    left: 10px;
}

.arrowNext {
    right: 10px;
}

p {
    z-index: 1;
    position: absolute;
}